* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.container {
  width: 80%;
  height: auto;
  border-radius: 60px;
  background-size: cover;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  margin: 50px auto;
  transition: all 3s;
}

.city {
  font-size: 45px;
  font-weight: bolder;
  padding-top: 10px;
}

.temp {
  padding-top: 40px;
  font-size: 80px;
  font-weight: bold;
}

.firstLine {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 30px;
  font-weight: bold;
  padding-top: 50px;
}

.block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 25px;
  font-weight: bold;
  padding-top: 50px;
}

.lastLine {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 90px;
  font-size: 30px;
  font-weight: bolder;
}

.header input {
  width: 400px;
  height: 60px;
  background-color: rgba(160, 152, 152, 0.575);
  text-align: center;
  font-size: 32px;
  border: none;
  outline: none;
  border-radius: 16px;
  border: 2px solid black;
  margin-top: 40px;
}

input::placeholder{
  color: black;
}

input:focus {
  background-color: rgba(255, 255, 255, 0.8);
}
.error {
  font-size: 35px;
  color: red;
  font-weight: bold;
  background-color: black;
}

@media only screen and (max-width: 1000px) {
  .header input {
    width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 715px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 730px) {
  .block, .firstLine {
    display: block;
    padding-top: 30px;
  }
}

@media only screen and (max-width: 730px) {
  .lastLine {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 730px) {
  .city {
    font-size: 38px;
  }
}

@media only screen and (max-width: 730px) {
  .container {
    border-radius: 20px 20px 60px 60px;
  }
}
